@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background: rgb(175,103,233);
    background: linear-gradient(180deg, rgba(175,103,233,1) 0%, rgba(101,101,231,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

h1, .activeBold{
   color: hsl(238, 29%, 16%);
   font-family: 'Kumbh Sans', sans-serif; 
   font-weight: 700;
}

p {
    color: hsl(240, 6%, 50%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}



/* Main Content */
main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 41px 112px -34px rgba(0,0,0,0.75);
}



/* Images */
.mobileImgContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -34% 0 230px;
    position: relative;
}

.mobileIllustration {
    width: 75%;
    position: absolute;
    z-index: 2;
}

.mobilePattern {
    position: absolute;
    margin-top: 35%;
    width: 75%;
    z-index: 1;
}



/* Text */
h1 {
    margin:20px;
    padding-top: 0;
    font-size: 32px;
}



/* Accordion */
.accordionContainer {
    width: 100%;
    padding: 0 20px 45px;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordionItem {
    border-bottom:1px hsl(240, 5%, 91%) solid;
    padding: 10px 0;
}

.arrow {
    height: fit-content;
    margin: auto 0;
}

.accordionContent {
    transition: all .5s ease;
    height: 0;
    overflow: hidden;
    padding: 12px 35px 0 0;
}

.accordionTextHeader {
    font-size: 14px;
}



/* Actived Accordion */
.active {
    padding-bottom: 10px;
}

.arrowRotate {
        transform: rotate(180deg);
}