@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* font-family: 'Kumbh Sans', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background: rgb(175, 103, 233);
    background: linear-gradient(180deg, rgba(175, 103, 233, 1) 0%, rgba(101, 101, 231, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1,
.activeBold {
    color: hsl(238, 29%, 16%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

p {
    color: hsl(240, 6%, 50%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}

.attribution {
    font-size: 13px;
    text-align: center;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
}

.attribution a {
    color: hsl(25, 100%, 61%);
}

/* Main Content */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: auto;
    padding-bottom: 10px;
}

.mainContainer {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    margin: 0 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 41px 112px -34px rgba(0, 0, 0, 0.75);
    max-width: 350px;
    margin-top: 25vh;
}

/* Images */
.mobileImgContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -34% 0 70%;
    position: relative;
}

.mobileIllustration {
    width: 75%;
    position: absolute;
    z-index: 2;
}

.mobilePattern {
    position: absolute;
    margin-top: 35%;
    width: 75%;
    z-index: 1;
}

.desktopImgContainer {
    display: none;
}



/* Text */
h1 {
    margin: 20px;
    padding-top: 0;
    font-size: 32px;
    text-align: center;
}



/* Accordion */
.accordionContainer {
    width: 100%;
    padding: 0 20px 45px;
}

.accordionHeader {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordionItem {
    border-bottom: 1px hsl(240, 5%, 91%) solid;
    padding: 10px 0;
}

.arrow {
    height: fit-content;
    margin: auto 0;
}

.accordionContent {
    transition: all .5s ease;
    height: 0;
    overflow: hidden;
    padding: 12px 35px 0 0;
}

.accordionTextHeader {
    font-size: 14px;
}



/* Actived Accordion */
.active {
    padding-bottom: 10px;
}

.arrowRotate {
    transform: rotate(180deg);
}


/* Media Queries */


@media only screen and (max-width: 350px) {

    .accordionTextHeader {
        font-size: 12px;
    }

}


@media only screen and (min-width: 992px) {


    /* Main */
    .mainContainer {
        flex-direction: row;
        max-width: 932px;
        height: 480px;
    }

    /* Images */
    .mobileImgContainer {
        display: none;
    }

    .desktopImgContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 55%;
        position: relative;
    }


    .desktopIllustrationContainer {
        overflow: hidden;
        position: relative;
        height: 100%;
        display: flex;
    }

    .desktopIllustration {
        position: relative;
        margin: auto;
        right: 19%;
        z-index: 2;
    }

    .desktopPattern {
        z-index: 1;
        position: absolute;
        right: 23%;
        margin-top: -60%;
    }


    .desktopImgBox {
        z-index: 3;
        position: absolute;
        bottom: 21%;
        right: 80.7%;
    }

    /* Accordion */
    h1 {
        text-align: left;
        margin: 0 0 10%;
    }

    .accordionContainer {
        width: 45%;
        height: 100%;
        padding: 6% 10% 10% 0;
    }

    .accordionItem {
        padding: 15px 0 5px;
    }

    .accordionTextHeader:hover {
        color: hsl(32, 100%, 50%)
    }
}